/*Menu*/
nav {
  background-color: #dc960a;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

/*otras clases */
:root {
        --box-w: 100px;
        --box-h: 100px;
        --gap: 24px;
      }

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
    padding: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
 }

.card h2 {
  margin: 0 0 8px;
  font-size: 1.05rem;
  color: #333;
  padding: auto;
  }

/* Clases del index */
/* Cambio de imagen */
.box.imatge {
    width: 220px;
    height: 439px;
    background-image: url("assets/img/guitarra_acustica.jpg");
    background-size: cover; 
    background-position: center;
    transition: 0.3s;
}

.titulo-cambia:hover .box.imatge {
    background-image: url("assets/img/guitarra_electrica.jpg");
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.titulo-cambia h2::after {
    content: "Guitarra acustica";
}
.titulo-cambia:hover h2::after {
    content: "Guitarra electrica";
}

/* Medida */
.card-mida {
  overflow: hidden;
  transition: 0.8s ease;
}
.box.mida {
  width: 220px;
  height: 439px;
  background: url("assets/img/bateria.jpg");
  background-size: cover;
  background-position: center;
  transition: width 0.8s ease, height 0.8s ease, background-size 0.8s ease;
  }
.card-mida:hover .box.mida{
  width: 500px;
  height: 400px;
  }
/* posicion */

.box.posicio {
  width: 220px;
  height: 439px;
  background:url("assets/img/bajo.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.8s ease-in-out;
  position: relative;
  overflow: hidden;
  }
.box.posicio:hover {
transform: translateX(190px);
  }
.card-posicio .texto {
  position: relative;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: white;
  opacity: 0;
  z-index: 1;
  transition: 0.8s ease;
}


/* Clases de la galería */

/* Disco giratorio */
.disco {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: url("assets/img/disco.jpg");
  background-size: cover;
  animation: girar 3s linear infinite;
  position: relative;
  z-index: 2;
  }

  /* Ondas expansivas */
.ondas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: rgba(0, 150, 255, 0.25);
  animation: expandir 2s ease-out infinite;
  z-index: 1;
}

/* Animación del disco girando */
@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Animación de las ondas */
@keyframes expandir {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0;
  }
}
/* Clases Guia-estil */