/*Menu*/
nav {
  background-color: #dc960a;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

/*otras clases */
:root {
        --box-w: 100px;
        --box-h: 100px;
        --gap: 24px;
      }

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
    padding: 60px;
}

.card {
        display: flex;
        flex-direction: column;
        width: 220px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      }

.card h2 {
        margin: 0 0 8px;
        font-size: 1.05rem;
        color: #333;
        padding: auto;
      }

/* Clases del index */
.box.imatge {
    width: 220px;
    height: 439px;
    background-image: url("assets/img/guitarra_acustica.jpg");
    background-size: cover; 
    background-position: center;
    transition: 0.3s;
}

.titulo-cambia:hover .box.imatge {
    background-image: url("assets/img/guitarra_electrica.jpg");
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.titulo-cambia h2::after {
    content: "Guitarra acustica";
}
.titulo-cambia:hover h2::after {
    content: "Guitarra electrica";
}
/* Clases de la galería */



/* Clases Guia-estil */